/.vs
/bin
/obj
/CS-DTX1-Decompressor2.sln
/CS-DTX1-Decompressor2.csproj
/CS-DTX1-Decompressor.csproj
/CS-DTX1-Decompressor
/CS-DTX1-Decompressor/*
CS-DTX1-Decompressor
/CS-DTX1-Decompressor/obj
/CS-DTX1-Decompressor/bin